<h1>Learn a bit about <a href="@activity.url"><%=@activity.name.capitalize%></a></h1>
<br>

<%if @activity.wishlists.count == 0%>
<p>No one else has done <%=@activity.name.capitalize%>. Be the first!</p>
<% else %>
<%if @activity.completes.count == 1%>
  <%=@activity.completes.first.user.username%> has done <%=@activity.name.capitalize%>
<%else @activity.completes.each_with_index do |a, i|%>
  <%if i == @activity.completes.count - 1%>
    & <%=a.user.username%>
  <%elsif i == @activity.completes.count - 2%>
    <%=a.user.username%>
  <%else%>
      <%=a.user.username%>,
    <%end%>
  <%end%>
have done <%=@activity.name.capitalize%>!
<%end%>
<%end%>
<br>

<%if @activity.wishlists.count == 0%>
  <p>No one has <%=@activity.name.capitalize%> on their Wishlist.</p>
  <% else %>
<%if @activity.wishlists.count == 1%>
  <%=@activity.wishlists.first.user.username%> has <%=@activity.name.capitalize%> on their Wishlist.
<%else @activity.wishlists.each_with_index do |a, i|%>
  <%if i == @activity.wishlists.count - 1%>
    & <%=a.user.username%>
  <%elsif i == @activity.wishlists.count - 2%>
    <%=a.user.username%>
  <%else%>
      <%=a.user.username%>,
    <%end%>
  <%end%>
  have <%=@activity.name.capitalize%> on their Wishlist. <a href='/activities/add/<%=@activity.id%>'>Add it to yours!</a>
<%end%>
    <%end%>
<br>
<br>
<a href='/activities'>Wanna check out more activities?</a>
<br>
<a href="/user/<%=current_user.id%>">Go to your homepage</a>
<br>
<form method="post" action="/activity/wishlist/<%=@activity.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Activity from Wishlist">
</form>
<br>
<form method="post" action="/activity/completed/<%=@activity.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Activity from Tracker">
</form>
<br>
